<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form</h1>
    <form action="form-submit" method="POST">
        <div>
            <!--Add few elements to the form-->
            <!-- <h1>Save HTML Form data as text File using Javascript</h1> -->
            <div>
              <input type="text" id="txtName" placeholder="Enter your name" name="name"></input>
            </div><br>
            <div>
              <input type="text" id="mobile" placeholder="Enter your Mobile No." name="mobile"/>
            </div><br>
            <div>
              <input type="text" id="txtAge" placeholder="Enter your age" name="age"/>
            </div><br>
            <div>
              <input type="text" id="txtEmail" placeholder="Enter your email address" name="mail"/>
            </div><br>
            <div>
              <select id="selCountry" name="country">
                <option selected value="">-- Choose the country --</option>
                <option value="India">India</option>
                <option value="Japan">Japan</option>
                <option value="USA">USA</option>
                <option value="Australia">Australia</option>
              </select>
            </div><br>
            
              <input type="Submit">
    </form>
</body>
</html>